Package: com.aurora.cadmus
Name: Cadmus
Version: 1.0
Architecture: iphoneos-arm
Description: A framework to make iOS Development easier.
Maintainer: Aurora
Author: Aurora
Section: System
Tag: role::developer
